! General
urxvt.termName:		  rxvt-256color
urxvt*scrollBar:		false
urxvt.saveLines:		10000
urxvt.cursorBlink:	true
urxvt.urgentOnBell:	false
urxvt.fading:       30
! Font config
urxvt.font:				  xft:Hack:style=Regular:size=10
urxvt.geometry:			119x69
! Color scheme
urxvt.cursorColor:	#2ECC71
urxvt.foreground:		#2ECC71
urxvt.background:		#121212
! black | red | green
urxvt.color0:			  #2E3436
urxvt.color1:			  #CC0000
urxvt.color2:			  #2ECC71
! yellow | blue | purple
urxvt.color3:			  #C4A000
urxvt.color4:			  #3465A4
urxvt.color5:			  #75507B
! cyan ! white | bright-black
urxvt.color6:			  #06989A
urxvt.color7:			  #D3D7CF
urxvt.color8:			  #555753
! bright-red | bright-green | bright-yellow
urxvt.color9:			  #EF2929
urxvt.color10:			#27AE60
urxvt.color11:			#FCE94F
! bright-blue | bright-purple | bright-cyan
urxvt.color12:			#729FCF
urxvt.color13:			#AD7FA8
urxvt.color14:			#34E2E2
! bright-white
urxvt.color15:			#EEEEEC
! color underlined text (urls) cyan
urxvt.colorUL:      #06989A
urxvt.underlineColor:       #06989A
! Extensions etc
urxvt.iso14755:             false
urxvt.perl-ext-common:      default,clipboard,url-select,selection-to-clipboard,url-select
! Clipboard
urxvt.clipboard.copycmd:	  xsel -ib
urxvt.clipboard.pastecmd:	  xsel -ob
urxvt.keysym.C-M-c:			    perl:clipboard:copy
urxvt.keysym.C-M-v:			    perl:clipboard:paste
urxvt.clipboard.autocopy:	  true
! Url-select
urxvt.url-select.button:	  1
!urxvt.url-select.launcher:	/usr/bin/firefox-aurora
urxvt.url-select.launcher:  /usr/bin/chromium
urxvt.url-select.underline:	true
! Fix special keys
!urxvt.keysym.F1:    "\E[11~"
!urxvt.keysym.F2:    "\E[12~"
