<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="OpenBox 3">
    <item label="pcmanfm"> <action name="Execute">
        <execute>pcmanfm</execute>
    </action> </item>
    <item label="chromium"> <action name="Execute">
        <execute>chromium</execute>
    </action> </item>
    <item label="atom"> <action name="Execute">
        <execute>/opt/atom/atom</execute>
    </action> </item>
    <item label="urxvt"> <action name="Execute">
        <execute>urxvt</execute>
    </action> </item>
    <separator/>
    <menu id="2" label="Editors">
      <item label="atom"><action name="Execute">
          <execute>/opt/atom/atom</execute>
      </action></item>
      <item label="nvim"> <action name="Execute">
          <execute>urxvtc -e nvim</execute>
      </action> </item>
      <item label="vim"> <action name="Execute">
          <execute>urxvtc -e vim</execute>
      </action> </item>
    </menu>
    <menu id="1" label="IDEs">
      <item label="Android Studio"> <action name="Execute">
          <execute>sh /home/ryan/android-studio/bin/studio.sh</execute>
      </action> </item>
      <item label="Clion"> <action name="Execute">
          <execute>clion</execute>
      </action> </item>
      <item label="Eclipse"> <action name="Execute">
          <execute>eclipse</execute>
      </action> </item>
      <item label="Idea Intellij"> <action name="Execute">
          <execute>idea.sh</execute>
      </action> </item>
      <item label="PyCharm"> <action name="Execute">
          <execute>pycharm.sh</execute>
      </action> </item>
      <item label="Texmaker"> <action name="Execute">
          <execute>texmaker</execute>
      </action> </item>
      <item label="Webstorm"> <action name="Execute">
          <execute>webstorm</execute>
      </action> </item>
    </menu>
    <menu id="2" label="Multimedia">
      <item label="audactiy"> <action name="Execute">
          <execute>audacity</execute>
      </action> </item>
      <item label="Blender"> <action name="Execute">
          <execute>blender</execute>
      </action> </item>
      <item label="GIMP"> <action name="Execute">
          <execute>gimp</execute>
      </action> </item>
      <item label="Google Play Music Player"> <action name="Execute">
          <execute>sh -c 'cd /home/ryan/workspace/GPMDP; npm start --dev; cd ~'</execute>
      </action> </item>
      <item label="Google Music Manager"> <action name="Execute">
          <execute>google-musicmanager</execute>
      </action> </item>
      <item label="Inkscape"> <action name="Execute">
          <execute>inkscape</execute>
      </action> </item>
      <item label="PulseAudio Volume Control"> <action name="Execute">
          <execute>pavucontrol</execute>
      </action> </item>
      <item label="qpdfview"> <action name="Execute">
          <execute>qpdfview</execute>
      </action> </item>
      <item label="VLC"> <action name="Execute">
          <execute>vlc</execute>
      </action> </item>
    </menu>
    <menu id="3" label="LibreOffice">
      <item label="LibreOffice Slides"> <action name="Execute">
          <execute>libreoffice --impress</execute>
      </action> </item>
      <item label="LibreOffice Spreadsheet"> <action name="Execute">
          <execute>libreoffice --calc</execute>
      </action> </item>
      <item label="LibreOffice Writer"> <action name="Execute">
          <execute>libreoffice --writer</execute>
      </action> </item>
    </menu>
    <menu id="4" label="Network">
      <item label="Chromium"> <action name="Execute">
          <execute>chromium</execute>
      </action> </item>
      <item label="firefox-beta"> <action name="Execute">
          <execute>firefox-beta</execute>
      </action> </item>
      <item label="Steam"> <action name="Execute">
          <execute>sh -c "STEAM_RUNTIME=1 steam --enable-gpu"</execute>
      </action> </item>
      <item label="Vivaldi"> <action name="Execute">
          <execute>vivaldi-stable</execute>
      </action> </item>
      <item label="Vuze"> <action name="Execute">
          <execute>vuze</execute>
      </action> </item>
    </menu>
    <menu id="5" label="System">
      <item label="NVIDIA X Server Settings"> <action name="Execute">
          <execute>nvidia-settings</execute>
      </action> </item>
      <item label="Openbox Configuration Manager"> <action name="Execute">
          <execute>obconf</execute>
      </action> </item>
      <item label="Window Effects"> <action name="Execute">
          <execute>compton-conf</execute>
      </action> </item>
    </menu>
    <menu id="6" label="Terminals">
      <item label="urxvt"> <action name="Execute">
          <execute>urxvt</execute>
      </action> </item>
      <item label="st"> <action name="Execute">
          <execute>st</execute>
      </action> </item>
      <item label="xterm"> <action name="Execute">
          <execute>xterm</execute>
      </action> </item>
    </menu>
    <menu id="7" label="Utilities">
      <item label="baobab"> <action name="Execute">
          <execute>baobab</execute>
      </action> </item>
      <item label="Corsair Keyboard"> <action name="Execute">
          <execute>ckb</execute>
      </action> </item>
      <item label="lxappearance"> <action name="Execute">
          <execute>lxappearance</execute>
      </action> </item>
      <item label="pcmanfm"> <action name="Execute">
          <execute>pcmanfm</execute>
      </action> </item>
      <item label="virtualbox"><action name="Execute">
          <execute>virtualbox</execute>
      </action> </item>
    </menu>
    <separator/>
    <menu id="8" label="OpenBox">
      <menu id="client-list-menu"/>
      <item label="Reconfigure"> <action name="Execute">
          <execute>sh -c 'openbox --reconfigure --config-file /home/ryan/.config/openbox/rc.xml'</execute>
      </action> </item>
      <separator/>
      <item label="Suspend"><action name="Execute">
          <execute>systemctl hybrid-sleep</execute>
      </action> </item>
      <item label="Exit"> <action name="Exit"/> </item>
    </menu>
  </menu>
</openbox_menu>
