#container{
  position:           relative;
  width:              720px;
  height:             480px;
  margin:             auto;
  font-family:        'Rubik', sans-serif;
  font-size:          20px;
  top: 140px;
}

.links{
  display:            inline;
  float:              left;
  width:              220px;
  padding:            10px;
}

body{
  background-color:   #282828;
}

image{
  width:              300px;
  height:             188px;
}
